################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/DotNet/MyFinalDemo/bin/Debug/net6.0/zh-Hant/Microsoft.CodeAnalysis.Workspaces.resources.dll
/DotNet/MyFinalDemo/bin/Debug/net6.0/zh-Hant/Microsoft.CodeAnalysis.Workspaces.MSBuild.resources.dll
/DotNet/MyFinalDemo/bin/Debug/net6.0/zh-Hant/Microsoft.CodeAnalysis.VisualBasic.Workspaces.resources.dll
/DotNet/MyFinalDemo/bin/Debug/net6.0/zh-Hant/Microsoft.CodeAnalysis.VisualBasic.resources.dll
/DotNet/MyFinalDemo/bin/Debug/net6.0/zh-Hant/Microsoft.CodeAnalysis.VisualBasic.Features.resources.dll
/DotNet/MyFinalDemo/bin/Debug/net6.0/zh-Hant/Microsoft.CodeAnalysis.Scripting.resources.dll
/DotNet/MyFinalDemo/bin/Debug/net6.0/zh-Hant/Microsoft.CodeAnalysis.resources.dll
/DotNet/MyFinalDemo/bin/Debug/net6.0/zh-Hant/Microsoft.CodeAnalysis.Features.resources.dll
/DotNet/MyFinalDemo/bin/Debug/net6.0/zh-Hant/Microsoft.CodeAnalysis.CSharp.Workspaces.resources.dll
/DotNet/MyFinalDemo/bin/Debug/net6.0/zh-Hant/Microsoft.CodeAnalysis.CSharp.Scripting.resources.dll
/DotNet/MyFinalDemo/bin/Debug/net6.0/zh-Hant/Microsoft.CodeAnalysis.CSharp.resources.dll
/DotNet/MyFinalDemo/bin/Debug/net6.0/zh-Hant/Microsoft.CodeAnalysis.CSharp.Features.resources.dll
/DotNet/MyFinalDemo/bin/Debug/net6.0/zh-Hans/Microsoft.CodeAnalysis.Workspaces.resources.dll
/DotNet/MyFinalDemo/bin/Debug/net6.0/zh-Hans/Microsoft.CodeAnalysis.Workspaces.MSBuild.resources.dll
/DotNet/MyFinalDemo/bin/Debug/net6.0/zh-Hans/Microsoft.CodeAnalysis.VisualBasic.Workspaces.resources.dll
/DotNet/MyFinalDemo/bin/Debug/net6.0/zh-Hans/Microsoft.CodeAnalysis.VisualBasic.resources.dll
/DotNet/MyFinalDemo/bin/Debug/net6.0/zh-Hans/Microsoft.CodeAnalysis.VisualBasic.Features.resources.dll
/DotNet/MyFinalDemo/bin/Debug/net6.0/zh-Hans/Microsoft.CodeAnalysis.Scripting.resources.dll
/DotNet/MyFinalDemo/bin/Debug/net6.0/zh-Hans/Microsoft.CodeAnalysis.resources.dll
/DotNet/MyFinalDemo/bin/Debug/net6.0/zh-Hans/Microsoft.CodeAnalysis.Features.resources.dll
/DotNet/MyFinalDemo/bin/Debug/net6.0/zh-Hans/Microsoft.CodeAnalysis.CSharp.Workspaces.resources.dll
/DotNet/MyFinalDemo/bin/Debug/net6.0/zh-Hans/Microsoft.CodeAnalysis.CSharp.Scripting.resources.dll
/DotNet/MyFinalDemo/bin/Debug/net6.0/zh-Hans/Microsoft.CodeAnalysis.CSharp.resources.dll
/DotNet/MyFinalDemo/bin/Debug/net6.0/zh-Hans/Microsoft.CodeAnalysis.CSharp.Features.resources.dll
/DotNet/MyFinalDemo/bin/Debug/net6.0/tr/Microsoft.CodeAnalysis.Workspaces.resources.dll
/DotNet/MyFinalDemo/bin/Debug/net6.0/tr/Microsoft.CodeAnalysis.Workspaces.MSBuild.resources.dll
/DotNet/MyFinalDemo/bin/Debug/net6.0/tr/Microsoft.CodeAnalysis.VisualBasic.Workspaces.resources.dll
/DotNet/MyFinalDemo/bin/Debug/net6.0/tr/Microsoft.CodeAnalysis.VisualBasic.resources.dll
/DotNet/MyFinalDemo/bin/Debug/net6.0/tr/Microsoft.CodeAnalysis.VisualBasic.Features.resources.dll
/DotNet/MyFinalDemo/bin/Debug/net6.0/tr/Microsoft.CodeAnalysis.Scripting.resources.dll
/DotNet/MyFinalDemo/bin/Debug/net6.0/tr/Microsoft.CodeAnalysis.resources.dll
/DotNet/MyFinalDemo/bin/Debug/net6.0/tr/Microsoft.CodeAnalysis.Features.resources.dll
/DotNet/MyFinalDemo/bin/Debug/net6.0/tr/Microsoft.CodeAnalysis.CSharp.Workspaces.resources.dll
/DotNet/MyFinalDemo/bin/Debug/net6.0/tr/Microsoft.CodeAnalysis.CSharp.Scripting.resources.dll
/DotNet/MyFinalDemo/bin/Debug/net6.0/tr/Microsoft.CodeAnalysis.CSharp.resources.dll
/DotNet/MyFinalDemo/bin/Debug/net6.0/tr/Microsoft.CodeAnalysis.CSharp.Features.resources.dll
/DotNet/MyFinalDemo/bin/Debug/net6.0/System.Windows.Extensions.dll
/DotNet/MyFinalDemo/bin/Debug/net6.0/System.Security.Permissions.dll
/DotNet/MyFinalDemo/bin/Debug/net6.0/System.Security.Cryptography.ProtectedData.dll
/DotNet/MyFinalDemo/bin/Debug/net6.0/System.Runtime.Caching.dll
/DotNet/MyFinalDemo/bin/Debug/net6.0/System.Resources.Extensions.dll
/DotNet/MyFinalDemo/bin/Debug/net6.0/System.IdentityModel.Tokens.Jwt.dll
/DotNet/MyFinalDemo/bin/Debug/net6.0/System.Drawing.Common.dll
/DotNet/MyFinalDemo/bin/Debug/net6.0/System.Configuration.ConfigurationManager.dll
/DotNet/MyFinalDemo/bin/Debug/net6.0/System.Composition.TypedParts.dll
/DotNet/MyFinalDemo/bin/Debug/net6.0/System.Composition.Runtime.dll
/DotNet/MyFinalDemo/bin/Debug/net6.0/System.Composition.Hosting.dll
/DotNet/MyFinalDemo/bin/Debug/net6.0/System.Composition.Convention.dll
/DotNet/MyFinalDemo/bin/Debug/net6.0/System.Composition.AttributedModel.dll
/DotNet/MyFinalDemo/bin/Debug/net6.0/System.CodeDom.dll
/DotNet/MyFinalDemo/bin/Debug/net6.0/runtimes/win-x86/native/Microsoft.Data.SqlClient.SNI.dll
/DotNet/MyFinalDemo/bin/Debug/net6.0/runtimes/win-x64/native/Microsoft.Data.SqlClient.SNI.dll
/DotNet/MyFinalDemo/bin/Debug/net6.0/runtimes/win-arm64/native/Microsoft.Data.SqlClient.SNI.dll
/DotNet/MyFinalDemo/bin/Debug/net6.0/runtimes/win-arm64/lib/net6.0/dotnet-aspnet-codegenerator-design.exe
/DotNet/MyFinalDemo/bin/Debug/net6.0/runtimes/win-arm/native/Microsoft.Data.SqlClient.SNI.dll
/DotNet/MyFinalDemo/bin/Debug/net6.0/runtimes/win-arm/lib/net6.0/dotnet-aspnet-codegenerator-design.exe
/DotNet/MyFinalDemo/bin/Debug/net6.0/runtimes/win/lib/netstandard2.0/System.Security.Cryptography.ProtectedData.dll
/DotNet/MyFinalDemo/bin/Debug/net6.0/runtimes/win/lib/netstandard2.0/System.Runtime.Caching.dll
/DotNet/MyFinalDemo/bin/Debug/net6.0/runtimes/win/lib/netcoreapp3.1/Microsoft.Data.SqlClient.dll
/DotNet/MyFinalDemo/bin/Debug/net6.0/runtimes/win/lib/netcoreapp3.0/System.Windows.Extensions.dll
/DotNet/MyFinalDemo/bin/Debug/net6.0/runtimes/win/lib/netcoreapp3.0/System.Drawing.Common.dll
/DotNet/MyFinalDemo/bin/Debug/net6.0/runtimes/win/lib/netcoreapp3.0/Microsoft.Win32.SystemEvents.dll
/DotNet/MyFinalDemo/bin/Debug/net6.0/runtimes/unix/lib/netcoreapp3.1/Microsoft.Data.SqlClient.dll
/DotNet/MyFinalDemo/bin/Debug/net6.0/runtimes/unix/lib/netcoreapp3.0/System.Drawing.Common.dll
/DotNet/MyFinalDemo/bin/Debug/net6.0/ru/Microsoft.CodeAnalysis.Workspaces.resources.dll
/DotNet/MyFinalDemo/bin/Debug/net6.0/ru/Microsoft.CodeAnalysis.Workspaces.MSBuild.resources.dll
/DotNet/MyFinalDemo/bin/Debug/net6.0/ru/Microsoft.CodeAnalysis.VisualBasic.Workspaces.resources.dll
/DotNet/MyFinalDemo/bin/Debug/net6.0/ru/Microsoft.CodeAnalysis.VisualBasic.resources.dll
/DotNet/MyFinalDemo/bin/Debug/net6.0/ru/Microsoft.CodeAnalysis.VisualBasic.Features.resources.dll
/DotNet/MyFinalDemo/bin/Debug/net6.0/ru/Microsoft.CodeAnalysis.Scripting.resources.dll
/DotNet/MyFinalDemo/bin/Debug/net6.0/ru/Microsoft.CodeAnalysis.resources.dll
/DotNet/MyFinalDemo/bin/Debug/net6.0/ru/Microsoft.CodeAnalysis.Features.resources.dll
/DotNet/MyFinalDemo/bin/Debug/net6.0/ru/Microsoft.CodeAnalysis.CSharp.Workspaces.resources.dll
/DotNet/MyFinalDemo/bin/Debug/net6.0/ru/Microsoft.CodeAnalysis.CSharp.Scripting.resources.dll
/DotNet/MyFinalDemo/bin/Debug/net6.0/ru/Microsoft.CodeAnalysis.CSharp.resources.dll
/DotNet/MyFinalDemo/bin/Debug/net6.0/ru/Microsoft.CodeAnalysis.CSharp.Features.resources.dll
/DotNet/MyFinalDemo/bin/Debug/net6.0/ref/MyFinalDemo.dll
/DotNet/MyFinalDemo/bin/Debug/net6.0/pt-BR/Microsoft.CodeAnalysis.Workspaces.resources.dll
/DotNet/MyFinalDemo/bin/Debug/net6.0/pt-BR/Microsoft.CodeAnalysis.Workspaces.MSBuild.resources.dll
/DotNet/MyFinalDemo/bin/Debug/net6.0/pt-BR/Microsoft.CodeAnalysis.VisualBasic.Workspaces.resources.dll
/DotNet/MyFinalDemo/bin/Debug/net6.0/pt-BR/Microsoft.CodeAnalysis.VisualBasic.resources.dll
/DotNet/MyFinalDemo/bin/Debug/net6.0/pt-BR/Microsoft.CodeAnalysis.VisualBasic.Features.resources.dll
/DotNet/MyFinalDemo/bin/Debug/net6.0/pt-BR/Microsoft.CodeAnalysis.Scripting.resources.dll
/DotNet/MyFinalDemo/bin/Debug/net6.0/pt-BR/Microsoft.CodeAnalysis.resources.dll
/DotNet/MyFinalDemo/bin/Debug/net6.0/pt-BR/Microsoft.CodeAnalysis.Features.resources.dll
/DotNet/MyFinalDemo/bin/Debug/net6.0/pt-BR/Microsoft.CodeAnalysis.CSharp.Workspaces.resources.dll
/DotNet/MyFinalDemo/bin/Debug/net6.0/pt-BR/Microsoft.CodeAnalysis.CSharp.Scripting.resources.dll
/DotNet/MyFinalDemo/bin/Debug/net6.0/pt-BR/Microsoft.CodeAnalysis.CSharp.resources.dll
/DotNet/MyFinalDemo/bin/Debug/net6.0/pt-BR/Microsoft.CodeAnalysis.CSharp.Features.resources.dll
/DotNet/MyFinalDemo/bin/Debug/net6.0/pl/Microsoft.CodeAnalysis.Workspaces.resources.dll
/DotNet/MyFinalDemo/bin/Debug/net6.0/pl/Microsoft.CodeAnalysis.Workspaces.MSBuild.resources.dll
/DotNet/MyFinalDemo/bin/Debug/net6.0/pl/Microsoft.CodeAnalysis.VisualBasic.Workspaces.resources.dll
/DotNet/MyFinalDemo/bin/Debug/net6.0/pl/Microsoft.CodeAnalysis.VisualBasic.resources.dll
/DotNet/MyFinalDemo/bin/Debug/net6.0/pl/Microsoft.CodeAnalysis.VisualBasic.Features.resources.dll
/DotNet/MyFinalDemo/bin/Debug/net6.0/pl/Microsoft.CodeAnalysis.Scripting.resources.dll
/DotNet/MyFinalDemo/bin/Debug/net6.0/pl/Microsoft.CodeAnalysis.resources.dll
/DotNet/MyFinalDemo/bin/Debug/net6.0/pl/Microsoft.CodeAnalysis.Features.resources.dll
/DotNet/MyFinalDemo/bin/Debug/net6.0/pl/Microsoft.CodeAnalysis.CSharp.Workspaces.resources.dll
/DotNet/MyFinalDemo/bin/Debug/net6.0/pl/Microsoft.CodeAnalysis.CSharp.Scripting.resources.dll
/DotNet/MyFinalDemo/bin/Debug/net6.0/pl/Microsoft.CodeAnalysis.CSharp.resources.dll
/DotNet/MyFinalDemo/bin/Debug/net6.0/pl/Microsoft.CodeAnalysis.CSharp.Features.resources.dll
/DotNet/MyFinalDemo/bin/Debug/net6.0/NuGet.Versioning.dll
/DotNet/MyFinalDemo/bin/Debug/net6.0/NuGet.Protocol.dll
/DotNet/MyFinalDemo/bin/Debug/net6.0/NuGet.ProjectModel.dll
/DotNet/MyFinalDemo/bin/Debug/net6.0/NuGet.Packaging.dll
/DotNet/MyFinalDemo/bin/Debug/net6.0/NuGet.LibraryModel.dll
/DotNet/MyFinalDemo/bin/Debug/net6.0/NuGet.Frameworks.dll
/DotNet/MyFinalDemo/bin/Debug/net6.0/NuGet.DependencyResolver.Core.dll
/DotNet/MyFinalDemo/bin/Debug/net6.0/NuGet.Configuration.dll
/DotNet/MyFinalDemo/bin/Debug/net6.0/NuGet.Common.dll
/DotNet/MyFinalDemo/bin/Debug/net6.0/Newtonsoft.Json.dll
/DotNet/MyFinalDemo/bin/Debug/net6.0/MyFinalDemo.staticwebassets.runtime.json
/DotNet/MyFinalDemo/bin/Debug/net6.0/MyFinalDemo.runtimeconfig.json
/DotNet/MyFinalDemo/bin/Debug/net6.0/MyFinalDemo.pdb
/DotNet/MyFinalDemo/bin/Debug/net6.0/MyFinalDemo.exe
/DotNet/MyFinalDemo/bin/Debug/net6.0/MyFinalDemo.dll
/DotNet/MyFinalDemo/bin/Debug/net6.0/MyFinalDemo.deps.json
/DotNet/MyFinalDemo/bin/Debug/net6.0/Microsoft.Win32.SystemEvents.dll
/DotNet/MyFinalDemo/bin/Debug/net6.0/Microsoft.VisualStudio.Web.CodeGenerators.Mvc.dll
/DotNet/MyFinalDemo/bin/Debug/net6.0/Microsoft.VisualStudio.Web.CodeGeneration.Utils.dll
/DotNet/MyFinalDemo/bin/Debug/net6.0/Microsoft.VisualStudio.Web.CodeGeneration.Templating.dll
/DotNet/MyFinalDemo/bin/Debug/net6.0/Microsoft.VisualStudio.Web.CodeGeneration.EntityFrameworkCore.dll
/DotNet/MyFinalDemo/bin/Debug/net6.0/Microsoft.VisualStudio.Web.CodeGeneration.dll
/DotNet/MyFinalDemo/bin/Debug/net6.0/Microsoft.VisualStudio.Web.CodeGeneration.Core.dll
/DotNet/MyFinalDemo/bin/Debug/net6.0/Microsoft.VisualStudio.Debugger.Contracts.dll
/DotNet/MyFinalDemo/bin/Debug/net6.0/Microsoft.IdentityModel.Tokens.dll
/DotNet/MyFinalDemo/bin/Debug/net6.0/Microsoft.IdentityModel.Protocols.OpenIdConnect.dll
/DotNet/MyFinalDemo/bin/Debug/net6.0/Microsoft.IdentityModel.Protocols.dll
/DotNet/MyFinalDemo/bin/Debug/net6.0/Microsoft.IdentityModel.Logging.dll
/DotNet/MyFinalDemo/bin/Debug/net6.0/Microsoft.IdentityModel.JsonWebTokens.dll
/DotNet/MyFinalDemo/bin/Debug/net6.0/Microsoft.Identity.Client.dll
/DotNet/MyFinalDemo/bin/Debug/net6.0/Microsoft.EntityFrameworkCore.SqlServer.dll
/DotNet/MyFinalDemo/bin/Debug/net6.0/Microsoft.EntityFrameworkCore.Relational.dll
/DotNet/MyFinalDemo/bin/Debug/net6.0/Microsoft.EntityFrameworkCore.dll
/DotNet/MyFinalDemo/bin/Debug/net6.0/Microsoft.EntityFrameworkCore.Design.dll
/DotNet/MyFinalDemo/bin/Debug/net6.0/Microsoft.EntityFrameworkCore.Abstractions.dll
/DotNet/MyFinalDemo/bin/Debug/net6.0/Microsoft.DotNet.Scaffolding.Shared.dll
/DotNet/MyFinalDemo/bin/Debug/net6.0/Microsoft.DiaSymReader.dll
/DotNet/MyFinalDemo/bin/Debug/net6.0/Microsoft.Data.SqlClient.dll
/DotNet/MyFinalDemo/bin/Debug/net6.0/Microsoft.CodeAnalysis.Workspaces.MSBuild.dll
/DotNet/MyFinalDemo/bin/Debug/net6.0/Microsoft.CodeAnalysis.Workspaces.dll
/DotNet/MyFinalDemo/bin/Debug/net6.0/Microsoft.CodeAnalysis.VisualBasic.Workspaces.dll
/DotNet/MyFinalDemo/bin/Debug/net6.0/Microsoft.CodeAnalysis.VisualBasic.Features.dll
/DotNet/MyFinalDemo/bin/Debug/net6.0/Microsoft.CodeAnalysis.VisualBasic.dll
/DotNet/MyFinalDemo/bin/Debug/net6.0/Microsoft.CodeAnalysis.Scripting.dll
/DotNet/MyFinalDemo/bin/Debug/net6.0/Microsoft.CodeAnalysis.Razor.dll
/DotNet/MyFinalDemo/bin/Debug/net6.0/Microsoft.CodeAnalysis.Features.dll
/DotNet/MyFinalDemo/bin/Debug/net6.0/Microsoft.CodeAnalysis.dll
/DotNet/MyFinalDemo/bin/Debug/net6.0/Microsoft.CodeAnalysis.CSharp.Workspaces.dll
/DotNet/MyFinalDemo/bin/Debug/net6.0/Microsoft.CodeAnalysis.CSharp.Scripting.dll
/DotNet/MyFinalDemo/bin/Debug/net6.0/Microsoft.CodeAnalysis.CSharp.Features.dll
/DotNet/MyFinalDemo/bin/Debug/net6.0/Microsoft.CodeAnalysis.CSharp.dll
/DotNet/MyFinalDemo/bin/Debug/net6.0/Microsoft.CodeAnalysis.AnalyzerUtilities.dll
/DotNet/MyFinalDemo/bin/Debug/net6.0/Microsoft.Build.Utilities.Core.dll
/DotNet/MyFinalDemo/bin/Debug/net6.0/Microsoft.Build.Tasks.Core.dll
/DotNet/MyFinalDemo/bin/Debug/net6.0/Microsoft.Build.Framework.dll
/DotNet/MyFinalDemo/bin/Debug/net6.0/Microsoft.Build.dll
/DotNet/MyFinalDemo/bin/Debug/net6.0/Microsoft.Bcl.AsyncInterfaces.dll
/DotNet/MyFinalDemo/bin/Debug/net6.0/Microsoft.AspNetCore.Razor.Language.dll
/DotNet/MyFinalDemo/bin/Debug/net6.0/Microsoft.AspNetCore.Identity.UI.dll
/DotNet/MyFinalDemo/bin/Debug/net6.0/Microsoft.AspNetCore.Identity.EntityFrameworkCore.dll
/DotNet/MyFinalDemo/bin/Debug/net6.0/Microsoft.AspNetCore.Diagnostics.EntityFrameworkCore.dll
/DotNet/MyFinalDemo/bin/Debug/net6.0/MessagePack.dll
/DotNet/MyFinalDemo/bin/Debug/net6.0/MessagePack.Annotations.dll
/DotNet/MyFinalDemo/bin/Debug/net6.0/ko/Microsoft.CodeAnalysis.Workspaces.resources.dll
/DotNet/MyFinalDemo/bin/Debug/net6.0/ko/Microsoft.CodeAnalysis.Workspaces.MSBuild.resources.dll
/DotNet/MyFinalDemo/bin/Debug/net6.0/ko/Microsoft.CodeAnalysis.VisualBasic.Workspaces.resources.dll
/DotNet/MyFinalDemo/bin/Debug/net6.0/ko/Microsoft.CodeAnalysis.VisualBasic.resources.dll
/DotNet/MyFinalDemo/bin/Debug/net6.0/ko/Microsoft.CodeAnalysis.VisualBasic.Features.resources.dll
/DotNet/MyFinalDemo/bin/Debug/net6.0/ko/Microsoft.CodeAnalysis.Scripting.resources.dll
/DotNet/MyFinalDemo/bin/Debug/net6.0/ko/Microsoft.CodeAnalysis.resources.dll
/DotNet/MyFinalDemo/bin/Debug/net6.0/ko/Microsoft.CodeAnalysis.Features.resources.dll
/DotNet/MyFinalDemo/bin/Debug/net6.0/ko/Microsoft.CodeAnalysis.CSharp.Workspaces.resources.dll
/DotNet/MyFinalDemo/bin/Debug/net6.0/ko/Microsoft.CodeAnalysis.CSharp.Scripting.resources.dll
/DotNet/MyFinalDemo/bin/Debug/net6.0/ko/Microsoft.CodeAnalysis.CSharp.resources.dll
/DotNet/MyFinalDemo/bin/Debug/net6.0/ko/Microsoft.CodeAnalysis.CSharp.Features.resources.dll
/DotNet/MyFinalDemo/bin/Debug/net6.0/ja/Microsoft.CodeAnalysis.Workspaces.resources.dll
/DotNet/MyFinalDemo/bin/Debug/net6.0/ja/Microsoft.CodeAnalysis.Workspaces.MSBuild.resources.dll
/DotNet/MyFinalDemo/bin/Debug/net6.0/ja/Microsoft.CodeAnalysis.VisualBasic.Workspaces.resources.dll
/DotNet/MyFinalDemo/bin/Debug/net6.0/ja/Microsoft.CodeAnalysis.VisualBasic.resources.dll
/DotNet/MyFinalDemo/bin/Debug/net6.0/ja/Microsoft.CodeAnalysis.VisualBasic.Features.resources.dll
/DotNet/MyFinalDemo/bin/Debug/net6.0/ja/Microsoft.CodeAnalysis.Scripting.resources.dll
/DotNet/MyFinalDemo/bin/Debug/net6.0/ja/Microsoft.CodeAnalysis.resources.dll
/DotNet/MyFinalDemo/bin/Debug/net6.0/ja/Microsoft.CodeAnalysis.Features.resources.dll
/DotNet/MyFinalDemo/bin/Debug/net6.0/ja/Microsoft.CodeAnalysis.CSharp.Workspaces.resources.dll
/DotNet/MyFinalDemo/bin/Debug/net6.0/ja/Microsoft.CodeAnalysis.CSharp.Scripting.resources.dll
/DotNet/MyFinalDemo/bin/Debug/net6.0/ja/Microsoft.CodeAnalysis.CSharp.resources.dll
/DotNet/MyFinalDemo/bin/Debug/net6.0/ja/Microsoft.CodeAnalysis.CSharp.Features.resources.dll
/DotNet/MyFinalDemo/bin/Debug/net6.0/it/Microsoft.CodeAnalysis.Workspaces.resources.dll
/DotNet/MyFinalDemo/bin/Debug/net6.0/it/Microsoft.CodeAnalysis.Workspaces.MSBuild.resources.dll
/DotNet/MyFinalDemo/bin/Debug/net6.0/it/Microsoft.CodeAnalysis.VisualBasic.Workspaces.resources.dll
/DotNet/MyFinalDemo/bin/Debug/net6.0/it/Microsoft.CodeAnalysis.VisualBasic.resources.dll
/DotNet/MyFinalDemo/bin/Debug/net6.0/it/Microsoft.CodeAnalysis.VisualBasic.Features.resources.dll
/DotNet/MyFinalDemo/bin/Debug/net6.0/it/Microsoft.CodeAnalysis.Scripting.resources.dll
/DotNet/MyFinalDemo/bin/Debug/net6.0/it/Microsoft.CodeAnalysis.resources.dll
/DotNet/MyFinalDemo/bin/Debug/net6.0/it/Microsoft.CodeAnalysis.Features.resources.dll
/DotNet/MyFinalDemo/bin/Debug/net6.0/it/Microsoft.CodeAnalysis.CSharp.Workspaces.resources.dll
/DotNet/MyFinalDemo/bin/Debug/net6.0/it/Microsoft.CodeAnalysis.CSharp.Scripting.resources.dll
/DotNet/MyFinalDemo/bin/Debug/net6.0/it/Microsoft.CodeAnalysis.CSharp.resources.dll
/DotNet/MyFinalDemo/bin/Debug/net6.0/it/Microsoft.CodeAnalysis.CSharp.Features.resources.dll
/DotNet/MyFinalDemo/bin/Debug/net6.0/Humanizer.dll
/DotNet/MyFinalDemo/bin/Debug/net6.0/fr/Microsoft.CodeAnalysis.Workspaces.resources.dll
/DotNet/MyFinalDemo/bin/Debug/net6.0/fr/Microsoft.CodeAnalysis.Workspaces.MSBuild.resources.dll
/DotNet/MyFinalDemo/bin/Debug/net6.0/fr/Microsoft.CodeAnalysis.VisualBasic.Workspaces.resources.dll
/DotNet/MyFinalDemo/bin/Debug/net6.0/fr/Microsoft.CodeAnalysis.VisualBasic.resources.dll
/DotNet/MyFinalDemo/bin/Debug/net6.0/fr/Microsoft.CodeAnalysis.VisualBasic.Features.resources.dll
/DotNet/MyFinalDemo/bin/Debug/net6.0/fr/Microsoft.CodeAnalysis.Scripting.resources.dll
/DotNet/MyFinalDemo/bin/Debug/net6.0/fr/Microsoft.CodeAnalysis.resources.dll
/DotNet/MyFinalDemo/bin/Debug/net6.0/fr/Microsoft.CodeAnalysis.Features.resources.dll
/DotNet/MyFinalDemo/bin/Debug/net6.0/fr/Microsoft.CodeAnalysis.CSharp.Workspaces.resources.dll
/DotNet/MyFinalDemo/bin/Debug/net6.0/fr/Microsoft.CodeAnalysis.CSharp.Scripting.resources.dll
/DotNet/MyFinalDemo/bin/Debug/net6.0/fr/Microsoft.CodeAnalysis.CSharp.resources.dll
/DotNet/MyFinalDemo/bin/Debug/net6.0/fr/Microsoft.CodeAnalysis.CSharp.Features.resources.dll
/DotNet/MyFinalDemo/bin/Debug/net6.0/es/Microsoft.CodeAnalysis.Workspaces.resources.dll
/DotNet/MyFinalDemo/bin/Debug/net6.0/es/Microsoft.CodeAnalysis.Workspaces.MSBuild.resources.dll
/DotNet/MyFinalDemo/bin/Debug/net6.0/es/Microsoft.CodeAnalysis.VisualBasic.Workspaces.resources.dll
/DotNet/MyFinalDemo/bin/Debug/net6.0/es/Microsoft.CodeAnalysis.VisualBasic.resources.dll
/DotNet/MyFinalDemo/bin/Debug/net6.0/es/Microsoft.CodeAnalysis.VisualBasic.Features.resources.dll
/DotNet/MyFinalDemo/bin/Debug/net6.0/es/Microsoft.CodeAnalysis.Scripting.resources.dll
/DotNet/MyFinalDemo/bin/Debug/net6.0/es/Microsoft.CodeAnalysis.resources.dll
/DotNet/MyFinalDemo/bin/Debug/net6.0/es/Microsoft.CodeAnalysis.Features.resources.dll
/DotNet/MyFinalDemo/bin/Debug/net6.0/es/Microsoft.CodeAnalysis.CSharp.Workspaces.resources.dll
/DotNet/MyFinalDemo/bin/Debug/net6.0/es/Microsoft.CodeAnalysis.CSharp.Scripting.resources.dll
/DotNet/MyFinalDemo/bin/Debug/net6.0/es/Microsoft.CodeAnalysis.CSharp.resources.dll
/DotNet/MyFinalDemo/bin/Debug/net6.0/es/Microsoft.CodeAnalysis.CSharp.Features.resources.dll
/DotNet/MyFinalDemo/bin/Debug/net6.0/dotnet-aspnet-codegenerator-design.dll
/DotNet/MyFinalDemo/bin/Debug/net6.0/de/Microsoft.CodeAnalysis.Workspaces.resources.dll
/DotNet/MyFinalDemo/bin/Debug/net6.0/de/Microsoft.CodeAnalysis.Workspaces.MSBuild.resources.dll
/DotNet/MyFinalDemo/bin/Debug/net6.0/de/Microsoft.CodeAnalysis.VisualBasic.Workspaces.resources.dll
/DotNet/MyFinalDemo/bin/Debug/net6.0/de/Microsoft.CodeAnalysis.VisualBasic.resources.dll
/DotNet/MyFinalDemo/bin/Debug/net6.0/de/Microsoft.CodeAnalysis.VisualBasic.Features.resources.dll
/DotNet/MyFinalDemo/bin/Debug/net6.0/de/Microsoft.CodeAnalysis.Scripting.resources.dll
/DotNet/MyFinalDemo/bin/Debug/net6.0/de/Microsoft.CodeAnalysis.resources.dll
/DotNet/MyFinalDemo/bin/Debug/net6.0/de/Microsoft.CodeAnalysis.Features.resources.dll
/DotNet/MyFinalDemo/bin/Debug/net6.0/de/Microsoft.CodeAnalysis.CSharp.Workspaces.resources.dll
/DotNet/MyFinalDemo/bin/Debug/net6.0/de/Microsoft.CodeAnalysis.CSharp.Scripting.resources.dll
/DotNet/MyFinalDemo/bin/Debug/net6.0/de/Microsoft.CodeAnalysis.CSharp.resources.dll
/DotNet/MyFinalDemo/bin/Debug/net6.0/de/Microsoft.CodeAnalysis.CSharp.Features.resources.dll
/DotNet/MyFinalDemo/bin/Debug/net6.0/cs/Microsoft.CodeAnalysis.Workspaces.resources.dll
/DotNet/MyFinalDemo/bin/Debug/net6.0/cs/Microsoft.CodeAnalysis.Workspaces.MSBuild.resources.dll
/DotNet/MyFinalDemo/bin/Debug/net6.0/cs/Microsoft.CodeAnalysis.VisualBasic.Workspaces.resources.dll
/DotNet/MyFinalDemo/bin/Debug/net6.0/cs/Microsoft.CodeAnalysis.VisualBasic.resources.dll
/DotNet/MyFinalDemo/bin/Debug/net6.0/cs/Microsoft.CodeAnalysis.VisualBasic.Features.resources.dll
/DotNet/MyFinalDemo/bin/Debug/net6.0/cs/Microsoft.CodeAnalysis.Scripting.resources.dll
/DotNet/MyFinalDemo/bin/Debug/net6.0/cs/Microsoft.CodeAnalysis.resources.dll
/DotNet/MyFinalDemo/bin/Debug/net6.0/cs/Microsoft.CodeAnalysis.Features.resources.dll
/DotNet/MyFinalDemo/bin/Debug/net6.0/cs/Microsoft.CodeAnalysis.CSharp.Workspaces.resources.dll
/DotNet/MyFinalDemo/bin/Debug/net6.0/cs/Microsoft.CodeAnalysis.CSharp.Scripting.resources.dll
/DotNet/MyFinalDemo/bin/Debug/net6.0/cs/Microsoft.CodeAnalysis.CSharp.resources.dll
/DotNet/MyFinalDemo/bin/Debug/net6.0/cs/Microsoft.CodeAnalysis.CSharp.Features.resources.dll
/DotNet/MyFinalDemo/obj/staticwebassets.pack.sentinel
/DotNet/MyFinalDemo/obj/project.nuget.cache
/DotNet/MyFinalDemo/obj/project.assets.json
/DotNet/MyFinalDemo/obj/MyFinalDemo.csproj.nuget.g.targets
/DotNet/MyFinalDemo/obj/MyFinalDemo.csproj.nuget.g.props
/DotNet/MyFinalDemo/obj/MyFinalDemo.csproj.nuget.dgspec.json
/DotNet/MyFinalDemo/obj/Debug/net6.0/staticwebassets.development.json
/DotNet/MyFinalDemo/obj/Debug/net6.0/staticwebassets.build.json
/DotNet/MyFinalDemo/obj/Debug/net6.0/scopedcss/Views/Shared/_Layout.cshtml.rz.scp.css
/DotNet/MyFinalDemo/obj/Debug/net6.0/scopedcss/projectbundle/MyFinalDemo.bundle.scp.css
/DotNet/MyFinalDemo/obj/Debug/net6.0/scopedcss/bundle/MyFinalDemo.styles.css
/DotNet/MyFinalDemo/obj/Debug/net6.0/ref/MyFinalDemo.dll
/DotNet/MyFinalDemo/obj/Debug/net6.0/project.razor.json
/DotNet/MyFinalDemo/obj/Debug/net6.0/MyFinalDemo.pdb
/DotNet/MyFinalDemo/obj/Debug/net6.0/MyFinalDemo.MvcApplicationPartsAssemblyInfo.cs
/DotNet/MyFinalDemo/obj/Debug/net6.0/MyFinalDemo.MvcApplicationPartsAssemblyInfo.cache
/DotNet/MyFinalDemo/obj/Debug/net6.0/MyFinalDemo.genruntimeconfig.cache
/DotNet/MyFinalDemo/obj/Debug/net6.0/MyFinalDemo.dll
/DotNet/MyFinalDemo/obj/Debug/net6.0/MyFinalDemo.csproj.FileListAbsolute.txt
/DotNet/MyFinalDemo/obj/Debug/net6.0/MyFinalDemo.csproj.CoreCompileInputs.cache
/DotNet/MyFinalDemo/obj/Debug/net6.0/MyFinalDemo.csproj.CopyComplete
/DotNet/MyFinalDemo/obj/Debug/net6.0/apphost.exe
/DotNet/MyFinalDemo/obj/Debug/net6.0/MyFinalDemo.assets.cache
/DotNet/MyFinalDemo/.vs/MyFinalDemo/v17/.suo
/DotNet/MyFinalDemo/.vs/MyFinalDemo/project-colors.json
/DotNet/MyFinalDemo/.vs/MyFinalDemo/DesignTimeBuild/.dtbcache.v2
/DotNet/MyFinalDemo/bin/Debug/net6.0/appsettings.json
/DotNet/MyFinalDemo/bin/Debug/net6.0/appsettings.Development.json
