@{
    ViewData["Title"] = "About";
}
<p>@DateTime.Now</p>
<div class="text-center">
    <h1 class="display-4">I did it</h1>
    <p>This is my first ASP.NET page, made using the MVC architecture. Hope I got the terminology right!</p>

    <p>I did this by
        <ul style="margin: 0 auto; list-style-position: inside;">
            <li>creating a new Razor file under Home</li>
            <li>making a new link in _Layout.cshtml</li>
            <li>adding a new action method in HomeController.cs</li>
            <li>editing CSS inline (sorry) and externally.</li>
        </ul>
    </p>

<img src="https://live.staticflickr.com/5087/5292784263_3690c6f2b1_b.jpg" alt="Picture" width="1024" height="683" style="margin: 0 auto;"/>
<p>"Christmas Night - View from our Balcony" by David Blackwell. is licensed with CC BY-ND 2.0. To view a copy of this license, visit https://creativecommons.org/licenses/by-nd/2.0/</p>
    
</div>
