@/* 
    Add all CSS code in this file, not in the files in /bootstrap/. 
    Same goes for JS.
*/

html {
  font-size: 14px;
}

@media (min-width: 768px) {
  html {
    font-size: 16px;
  }
}

html {
  position: relative;
  min-height: 100%;
}

body {
    margin-bottom: 60px;
    background-color: beige;
}